<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;"><img src="/assets/bp.jpg" style="border-radius:100px" width="15%"><br>
      Ruang Obrolan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
<div class="container">
  <img src="/assets/jennie.jpg" alt="Avatar">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>
</ion-item>

<ion-item>
<div class="container">
  <img src="/assets/lalisa.png" alt="Avatar">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>
</ion-item>

<ion-item>
<div class="container">
  <img src="/assets/jisoo.jpg" alt="Avatar">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>
</ion-item>

<ion-item>
<div class="container darker">
  <img src="/assets/rose.jpg" alt="Avatar" class="right">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>
</ion-item>
</ion-content>
